/* IMPORT GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

/* HEADER */

.logo {
  width: 150px;
  display: inline-flex;
  transition: transform 0.2s ease-in-out;
}

.logo:hover {
  transform: scale(1.1);
}

.navbar {
  background-color: #fef2f1;
  position: fixed; /* Fissa la navbar */
  top: 0; /* In alto */
  left: 0;
  width: 100%; /* Occupa tutta la larghezza */
  height: 90px;
}

.search-button {
  background-color: #fef2f1;
  color: #122852;
  border: 1px solid #122852;
}

.search-button:hover {
  background-color: #ffd0cd;
  border-color: #ffd0cd;
}

.bi.bi-cart {
  color: #122852;

  display: inline-flex; /* usa flexbox per centrare l'icona */
  align-items: center;
  justify-content: center;
  width: 2.5rem; /* stessa dimensione */
  height: 2.5rem;
  border-radius: 50%;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.bi.bi-cart:hover {
  background-color: #d56693;
  transform: scale(1.2);
}

/* HOMEPAGE */

.hero-space {
  background-image: url(../../../jumbo.png);
  padding: 150px 100px;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 60vh; /* altezza minima, regola a tuo gusto */

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  padding: 2rem; /* spazio interno, evita che il testo tocchi i bordi */
  box-sizing: border-box; /* include padding nella width */
}

.hero-text {
  color: #122852;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  max-width: 800px;
  font-size: clamp(2rem, 5vw, 4rem);
  font-family: "Pacifico", cursive;
}
.hero-content {
  padding: 10px;
  border-radius: 50px;
  background-color: rgb(128, 128, 128, 0.5);
}

/* MAIN */

main {
  padding-top: 90px;
  height: 100vh;
}

/* FOOTER */

.footer-container {
  height: 90px;
  background-color: #ffd0cd;
  padding: 0 30px;
}

.footer-left,
.footer-right {
  font-size: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #122852;
}

.footer-left *,
.footer-right * {
  margin: 0;
  color: #122852;
}

.footer-center img {
  width: 200px;
}
